<div>
    <div class="row">
        <div class="">
            <h3>Tarjetas</h3>
            <div class="iban-card">
                <div class="content">
                    <span class="bank-name">Banco</span>
                    <div class="iban-text">
                        <input type="text" name="" id="" placeholder="XXXX" maxlength="4">
                        <input type="text" name="" id="" placeholder="XXXX" maxlength="4">
                        <input type="text" name="" id="" placeholder="XXXX" maxlength="4">
                        <input type="text" name="" id="" placeholder="XXXX" maxlength="4">
                    </div>
                    <div class="bottom">
                        <input class="name" value="Tu nombre" spellcheck="false">
                        <div class="number">
                            <input type="text" name="" id="" placeholder="00" maxlength="2">
                            <input type="text" placeholder="00" maxlength="2">
                        </div>
                       
                        <div class="icon">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
